

#statBubble {
    margin-bottom: 5px;
    border: 1px solid;
    border-radius: 25px;
    border-color: rgb(47, 230, 47);
    padding: 10px;
}



#summonerName, #selectField {
    display: inline-block;
}