{% extends "StatViewer/layout.html" %}

{% load static %}

{% block title %}
    Match viewer
{% endblock %}

{% block body %}

    <input type="hidden" id="matchdata" data-id="{{match_id}}" data-region="{{region}}">
    <p class="h2 text-center">Viewing match {{match_id}} on the {{region}} region</p>
    <p class="h3 text-center mb-5" id="matchHeadings"></p>



    <div class="container" id="matchContainer">
        <div id="team1" class="container">
            <p class="h2 text-center"> Team 1</p>

        </div>
        <div id="team2" class="container">
            <p class="h2 text-center"> Team 2</p>

        </div>

    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'StatViewer/match.js' %}"></script>
{% endblock %}